<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>eUniverity</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <meta name="description" content="Live preview eUniversity">
    @Styles.Render("~/bootstrap/css", "~/Content/chosen", "~/ace/css", "~/ace/font","~/Content/bootstrap/editable")
    @Scripts.Render("~/bundles/jquery", "~/bundles/ko","~/bundles/bootstrap","~/bundles/bootstrap/editable")

</head>
<body>
    <header>
        @Html.Partial("_Header")
    </header>
    <div class="main-container" id="main-container">
        <div class="main-container-inner">
            @Html.Action("SideBar","Content")

            <div class="main-content">
                <div>
                    <div class="page-content" id="pageContent">
                        @RenderBody()
                    </div>
                </div>
                <div class="loading" id="loading" style="display: none">
                    <div class="background-gray"></div>
                    <i class="icon-spinner icon-spin orange bigger-275"></i>
                </div>

            </div>
        </div>
    </div>
    @Html.Partial("_CommonJS")
    @Scripts.Render( "~/bundles/ace", "~/bundles/chosen")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/styler.js"> </script>
</body>
</html>
