<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>eUniverity</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <meta name="description" content="Live preview eUniversity">
    @Styles.Render("~/bootstrap/css", "~/Content/chosen", "~/ace/css", "~/ace/font")
    @Scripts.Render("~/bundles/jquery", "~/bundles/ko")

</head>
<body>
    <header>
        @Html.Partial("_Header")
    </header>
    <div class="main-container" id="main-container">
        <div class="main-container-inner">
            @Html.Partial("_Sidebar")

            <div class="main-content">
                <div>
                    @Html.Partial("_Breadcrumbs")
                    <div class="page-content" id="pageContent">
                        @RenderBody()
                    </div>
                </div>
                <div class="loading" id="loading" style="display: none">
                    <div class="background-gray"></div>
                    <i class="icon-spinner icon-spin orange bigger-275"></i>
                </div>

            </div>
        </div>
    </div>
    @Html.Partial("_CommonJS")
    @Scripts.Render("~/bundles/bootstrap", "~/bundles/ace", "~/bundles/chosen")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/styler.js"> </script>
    <script type="text/javascript">
        $('#skins button').click(function () {
            var d = $(this).data("skin");
            var c = $(document.body);
            c.removeClass("skin-1 skin-2 skin-3");
            if (d != "default") {
                c.addClass(d)
            }
            if (d == "skin-1") {
                $(".ace-nav > li.grey").addClass("dark")
            } else {
                $(".ace-nav > li.grey").removeClass("dark")
            }
            if (d == "skin-2") {
                $(".ace-nav > li").addClass("no-border margin-1");
                $(".ace-nav > li:not(:last-child)").addClass("light-pink").find('> a > [class*="icon-"]').addClass("pink").end().eq(0).find(".badge").addClass("badge-warning")
            } else {
                $(".ace-nav > li").removeClass("no-border margin-1");
                $(".ace-nav > li:not(:last-child)").removeClass("light-pink").find('> a > [class*="icon-"]').removeClass("pink").end().eq(0).find(".badge").removeClass("badge-warning")
            }
            if (d == "skin-3") {
                $(".ace-nav > li.grey").addClass("red").find(".badge").addClass("badge-yellow")
            } else {
                $(".ace-nav > li.grey").removeClass("red").find(".badge").removeClass("badge-yellow")
            }
        });
    </script>
</body>
</html>
