@if (Request.IsAuthenticated)
{
    <a data-toggle="dropdown" href="@Url.Action(null)" class="dropdown-toggle">
        <img class="nav-user-photo" src="~/Avatars/avatar1.png" alt="Jason's Photo">
        <span class="user-info">
            <small>@eUniversity.Common.Strings.Resources.Common_Welcome,</small>
            @User.Identity.Name
        </span>

        <i class="icon-caret-down"></i>
    </a>

    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
        <li>
            <a href="http://192.69.216.111/themes/preview/ace/#">
                <i class="icon-cog"></i>
                Settings
            </a>
        </li>

        <li>
            <a href="@Url.Action("Index", "Profile")">
                <i class="icon-user"></i>
                @eUniversity.Common.Strings.Resources.Common_Profile
            </a>
        </li>

        <li class="divider"></li>

        <li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-off"></i>
                   @eUniversity.Common.Strings.Resources.Common_LogOut</a>
            }
        </li>
    </ul>

}