@using eUniversity.Web.Infrastructure.Constants
@using eUniversity.Web.Extensions
<div class="sidebar" id="sidebar">
    <div class="sidebar-shortcuts" id="skins">
        <div class="sidebar-shortcuts-large">

            <button class="btn" data-skin="default" style="border-color: #438EB9 !important; background-color: #438EB9 !important;">
                <i class="icon-sun"></i>
            </button>

            <button class="btn" data-skin="skin-1" style="border-color: #222A2D !important; background-color: #222A2D !important;">
                <i class="icon-sun"></i>
            </button>

            <button class="btn" data-skin="skin-2" style="border-color: #C6487E !important; background-color: #C6487E !important;">
                <i class="icon-sun"></i>
            </button>

            <button class="btn" data-skin="skin-3" style="border-color: #D0D0D0 !important; background-color: #D0D0D0 !important;">
                <i class="icon-sun"></i>
            </button>
        </div>
        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn" data-skin="default" style="border-color: #438EB9 !important; background-color: #438EB9 !important;"></span>

            <span class="btn" data-skin="skin-1" style="border-color: #222A2D !important; background-color: #222A2D !important;"></span>

            <span class="btn" data-skin="skin-2" style="border-color: #C6487E !important; background-color: #C6487E !important;"></span>

            <span class="btn" data-skin="skin-3" style="border-color: #D0D0D0 !important; background-color: #D0D0D0 !important;"></span>
        </div>
    </div>

    <ul class="nav nav-list">
        <li class="active">
            <a href="http://192.69.216.111/themes/preview/ace/index.html">
                <i class="icon-dashboard"></i>
                <span class="menu-text">Dashboard </span>
            </a>
        </li>
        @{
            var ajaxOptions = new AjaxOptions()
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    LoadingElementId = "loading",
                    UpdateTargetId = "pageContent",
                    OnBegin = "OnBegin"
                };
        }

        <li>
            @Ajax.RawActionLink("<i class='icon-list-alt'></i><span class='menu-text'>Специальности </span>", ActionNames.IndexAction, ControllerNames.SpecialityController, ajaxOptions)
        </li>
        <li>
            @Ajax.RawActionLink("<i class='icon-list-alt'></i><span class='menu-text'>Специализации </span>", ActionNames.IndexAction, ControllerNames.SpecializationController, ajaxOptions)
        </li>
        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-list-alt"></i>
                <span class='menu-text'> Учебный план </span><b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li>
                    @Ajax.RawActionLink("<i class='icon-plus'></i>Добовить Новый", ActionNames.EditAction, ControllerNames.CurriculumController, ajaxOptions)
                </li>

                <li>
                    @Ajax.RawActionLink("<i class='icon-eye-open'></i>Список Учебных Планов", ActionNames.IndexAction, ControllerNames.CurriculumController, ajaxOptions)
                </li>
            </ul>
        </li>
        <li>
            @Ajax.RawActionLink("<i class='icon-list-alt'></i><span class='menu-text'>Группы </span>", ActionNames.IndexAction, ControllerNames.GroupController, ajaxOptions)
        </li>
        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-list-alt"></i>
                <span class='menu-text'> Темы </span><b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li>
                    @Ajax.RawActionLink("<i class='icon-eye-open'></i>Список Учебных Предметов", ActionNames.IndexAction, ControllerNames.SubjectController, ajaxOptions)
                </li>
            </ul>
        </li>
        <li>
            @Ajax.RawActionLink("<i class='icon-list-alt'></i><span class='menu-text'>Темы </span>", ActionNames.IndexAction, ControllerNames.ThemeController, ajaxOptions)
        </li>
        <li>
            @Ajax.RawActionLink("<i class='icon-group'></i><span class='menu-text'>Пользователи </span>", ActionNames.IndexAction, ControllerNames.MembershipController, ajaxOptions)
        </li>
    </ul>

    <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
    </div>
</div>
