@using eUniversity.Business.Helpers.Enums
@using eUniversity.Web.Infrastructure.Constants
@model eUniversity.Business.ViewModels.Curriculum.SubjectViewModel
<script type="text/html" id="AddSubject">
    <div class="modal fade in" role="dialog" style="display: block;" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header no-padding">
                    <div class="table-header">
                        <button type="button" class="close" aria-hidden="true" data-bind="click: Cancel">
                            <span class="white">×</span>
                        </button>
                        <span>Предмет</span>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Subject, "Название предмета", new { @class = "control-label" })
                                <div class="clearfix">
                                    @Html.HiddenFor(m => m.Subject, new { style = "width: 200px;", Data_Bind = "selectedValue: Subject, select2: { minimumInputLength: 0, query: Query }, select2Options: { data: Subject }" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Тип предмета</label>
                                <div class="col-xs-12 col-sm-9">
                                    <div>
                                        <label class="blue">
                                            @Html.RadioButtonFor(m => m.SubjectType, SubjectTypeEnum.Lecture, new { @class = "ace", Data_Bind = "checked:SubjectType" })
                                            <span class="lbl">Лекционные занятия</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label class="blue">
                                            @Html.RadioButtonFor(m => m.SubjectType, SubjectTypeEnum.CourseWork, new { @class = "ace", Data_Bind = "checked:SubjectType" })
                                            <span class="lbl">Курсовая работа</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label class="blue">
                                            @Html.RadioButtonFor(m => m.SubjectType, SubjectTypeEnum.CourseProject, new { @class = "ace", Data_Bind = "checked:SubjectType" })
                                            <span class="lbl">Курсовой проект</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Assignee, "Преподаватель", new { @class = "control-label" })
                                <div class="clearfix">
                                    @Html.HiddenFor(m => m.Assignee, new { style = "width: 200px;",
                                   Data_Bind = "selectedValue: Assignee, select2: {allowClear: true,  placeholder: 'Специализация',multiple: false, ajax:{url:'"+Url.Action(ActionNames.GetProfessorsAction, ControllerNames.LoockupController) +"'  }},select2Options: {data: Assignee}" })
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button data-bb-handler="cancel" type="button" class="btn btn-default" data-bind="click: Cancel">Cancel</button>
                    <button data-bb-handler="confirm" type="button" class="btn btn-primary" data-bind="click: Add">OK</button>
                </div>
            </div>
        </div>
    </div>
</script>
