@model dynamic
@{
    ViewBag.PageHeader = "Страница студента";

    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
@Html.Partial("_PageHeader")
<div class="row" id="curriculum">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="lighter block green">Семестры</h3>
                <ul class="wizard-steps">
                    <!-- ko foreach: Semesters -->
                    <li data-bind="css: { active: IsActive, complete: IsCompleted }">
                        <span class="step" data-bind="text: Sequential, click: $parent.ChooseStep"></span>
                        <span class="title" data-bind="text: Title"></span>
                    </li>
                    <!-- /ko -->
                </ul>
            </div>
        </div>
        <hr>
        <div class="step-content row position-relative">
            <div class="col-xs-12">
                <!-- ko foreach: Semesters -->
                <div class="step-pane" data-bind="css: { active: IsActive, complete: IsCompleted }">
                    <h3 class="lighter block green">Предметы</h3>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="center" style="width: 50px;">
                                            </th>
                                            <th>@eUniversity.Common.Strings.Resources.Common_Title</th>
                                            <th>@eUniversity.Common.Strings.Resources.Subject_Type</th>
                                            <th>
                                                <i class="icon-time bigger-110 hidden-480"></i>
                                                @eUniversity.Common.Strings.Resources.Common_LastUpdated
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- ko foreach: Subjects -->
                                        <tr>
                                            <td class="center">
                                                <a href="#">
                                                    <i class='icon-plus' data-bind="click: Expand, css: { 'icon-plus': !IsExpand(), 'icon-minus': IsExpand() }"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <span data-bind="text: Name"></span>
                                            </td>
                                            <td>
                                                <span data-bind="text: SubjectType"></span>
                                            </td>
                                            <td>Feb 12</td>
                                        </tr>
                                        <tr data-bind="visible: IsExpand">
                                            <td>
                                                <i class="icon-spinner icon-spin orange bigger-175" data-bind="visible: IsLoading()"></i>
                                            </td>
                                            <td colspan="10" data-bind="visible: !IsLoading()">
                                                <!-- ko with: SubjectDetail-->
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <h4 class="pink" data-bind=" ">
                                                            <i class="icon-hand-right icon-animated-hand-pointer blue"></i>
                                                            <a href="#" role="button" class="green" data-bind="click: ChooseTheme">Выбрать тему</a>
                                                        </h4>
                                                    </div>
                                                    <div class="col-xs-6 pull-right" style="text-align: right;" data-bind="visible: ">
                                                        <a href="#" role="button" class="green" data-bind="">Предложить свою тему</a>
                                                    </div>
                                                </div>
                                                <!-- /ko -->
                                            </td>
                                        </tr>
                                        <!-- /ko -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
        <hr>
    </div>
</div>


<script src="/Scripts/viewModels/dashboard/studentDashboardViewModel.js"> </script>

<script type="text/javascript">
    $(document).ready(function () {
        ko.applyBindings(new StudentDashboardViewModel(@Html.Raw(Json.Encode(Model))), $('#curriculum').get(0));
    });
</script>


<script type="text/html" id="AddTheme">
    <div class="modal fade in" role="dialog" style="display: block;" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header no-padding">
                    <div class="table-header">
                        <button type="button" class="close" aria-hidden="true" data-bind="click: Cancel">
                            <span class="white">×</span>
                        </button>
                        <span>Выбор темы</span>
                    </div>
                </div>
                <div class="modal-body">

                    <i class="icon-spinner icon-spin orange bigger-175" data-bind="visible: IsLoading()"></i>
                    <div style="max-height: 250px; overflow: auto;">
                        <table data-bind="visible: !IsLoading()" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Описание</th>
                                    <th class="center" style="width: 50px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ko foreach: Themes -->
                                <tr>
                                    <td>
                                        <span data-bind="text: Name"></span>
                                    </td>
                                    <td>
                                        <span data-bind="text: Description">CourseWork</span>
                                    </td>
                                    <td class="center">
                                        <div class="actionBtns">
                                            <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                                <a class="green" href="#" title="Выбрать тему" data-bind="click: $parent.ChooseTheme">
                                                    <i class="icon-flag bigger-130"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-bb-handler="cancel" type="button" class="btn btn-default" data-bind="click: Cancel">Закрыть</button>
                    @*                    <button data-bb-handler="confirm" type="button" class="btn btn-primary" data-bind="">OK</button>*@
                </div>
            </div>
        </div>
    </div>
</script>