@model eUniversity.Business.ViewModels.Specialization.SpecializationViewModel
@{
    ViewBag.PageHeader = "Специализация";
    if (Model == null || Model.Id == 0)
    {
        ViewBag.AdditionalInfo = "Добавление новой специализации";
    }
    else
    {
        ViewBag.AdditionalInfo = "Редактирование специализации";
    }

    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
@Html.Partial("_PageHeader")
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Edit", "Specialization", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.SpecialityId, "Специальность", new { @class = "control-label col-xs-12 col-sm-3 no-padding-right" })

                <div class="col-xs-12 col-sm-9">
                    @Html.HiddenFor(m => m.SpecialityId, new { @class = "select2" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Name, "Название", new { @class = "col-sm-3 control-label no-padding-right" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Name, new { @class = "col-xs-10 col-sm-5", placeholder = "Специальность" })
                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, "Описание", new { @class = "col-sm-3 control-label no-padding-right" })
                <div class="col-sm-9">
                    @Html.TextAreaFor(m => m.Description, new { @class = "col-xs-10 col-sm-5", placeholder = "Описание", style = "height: 52px; padding-left: 5px;" })
                </div>
            </div>
            @Html.HiddenFor(m => m.Id)
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="submit">
                        <i class="icon-ok bigger-110"></i>
                        Сохранить
                    </button>

                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="icon-undo bigger-110"></i>
                        Сбросить
                    </button>
                </div>
            </div>
        }
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $(".select2").css('width', '200px').select2(
            {
                placeholder: "Выберите специальность",
                allowClear: true,
                ajax: {
                    url: '@Url.Action("GetSpecialities", "Loockup")',
                    dataType: 'json',
                    data: function (term) {
                        return {
                            term: term,
                            page_limit: 10,
                        };
                    },
                    results: function (data) {
                        data.forEach(function (item) {
                            item.id = item.Id;
                            item.text = item.Text;
                        });
                        return { results: data };
                    }
                },
                id: function (obj) {
                    return obj.Id;
                },
                initSelection: function (element, callback) {
                    var id = $(element).val();
                    if (id !== '' && id !== '0') {
                        $.ajax('@Url.Action("GetSpeciality", "Loockup")', {
                            data: {
                                id: id
                            },
                            dataType: "json"
                        }).done(function (data) {
                            data.id = data.Id;
                            data.text = data.Text;
                            callback(data);
                        });
                    }
                },
            });
    });
</script>
