@using eUniversity.Business.ViewModels.Enums
@model eUniversity.Business.ViewModels.GridViewModel
@{
    ViewBag.PageHeader = "Специализация";
    ViewBag.AdditionalInfo = "Список специализаций";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
@Html.Partial("_PageHeader")
<div class="row" id="grid">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="center">
                            <label>
                                <input type="checkbox" class="ace" data-bind="checked: IfAllSelected">
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th>@eUniversity.Common.Strings.Resources.Common_Title</th>
                        <th>@eUniversity.Common.Strings.Resources.Common_Description</th>
                        <th>Специальность</th>

                        <th>
                            <i class="icon-time bigger-110 hidden-480"></i>
                            @eUniversity.Common.Strings.Resources.Common_Update
                        </th>
                        <th class="hidden-480">@eUniversity.Common.Strings.Resources.Common_Status</th>

                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko foreach: Rows -->
                    <tr>
                        <td class="center">
                            <label>
                                <input type="checkbox" class="ace" data-bind="checked: IsSelected">
                                <span class="lbl"></span>
                            </label>
                        </td>
                        <td>
                            <span data-bind="editable: Name, event: { save: Save }"></span>
                        </td>
                        <td>
                            <span data-bind="editable: Description, editableOptions: { type: 'textarea' }, event: { save: Save }"></span>
                        </td>
                        <td>
                            <a data-bind="editable: SpecialityId, editableOptions: {type: 'select2', select2:$parent.select2}, event: { save: Save }" data-type="select2" data-pk="1" data-title="Select speciality"></a>
                        </td>
                        <td data-bind="text: LastModified"></td>

                        <td class="hidden-480">
                            @Html.Partial("_StatusColumn")
                        </td>

                        <td>
                            <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                <a class="red" href="#">
                                    <i class="icon-trash bigger-130" data-bind="click: $parent.Remove"></i>
                                </a>
                            </div>

                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                <div class="inline position-relative open">
                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-caret-down icon-only bigger-120"></i>
                                    </button>
                                    <div class="dropdown-backdrop"></div>

                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                        <li>
                                            <a href="#" class="tooltip-info" data-rel="tooltip" title="" data-original-title="View">
                                                <span class="blue">
                                                    <i class="icon-save bigger-120"></i>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" class="tooltip-error" data-rel="tooltip" title="" data-original-title="Delete">
                                                <span class="red">
                                                    <i class="icon-trash bigger-120"></i>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- /ko -->
                </tbody>
            </table>
        </div>
        <h4 class="pink">
            <i class="icon-hand-right icon-animated-hand-pointer blue"></i>
            <a href="#" role="button" class="green" data-bind="click: AddNewRow">Добавить Специализацию</a>
        </h4>
    </div>
</div>
<script src="~/Scripts/viewModels/gridViewModel.js"> </script>
<script src="~/Scripts/viewModels/specialization/specializationRowViewModel.js"> </script>

<script type="text/javascript">
    $(document).ready(function () {
        ko.applyBindings(new GridViewModel(@Html.Raw(Json.Encode(Model))), $('#grid').get(0));
    });
</script>