@model eUniversity.Business.ViewModels.Group.GroupViewModel
@{
    ViewBag.PageHeader = "Группа";
    if (Model == null || Model.Id == 0)
    {
        ViewBag.AdditionalInfo = "Добавление новой группы";
    }
    else
    {
        ViewBag.AdditionalInfo = "Редактирование группы";
    }

    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
@Html.Partial("_PageHeader")
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Edit", "Specialization", FormMethod.Post, new { @class = "form-horizontal", Id = "groupForm" }))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Specialization, "Специализация", new { @class = "control-label col-xs-12 col-sm-3 no-padding-right" })

                <div class="col-xs-12 col-sm-9">
                    @Html.HiddenFor(m => m.Specialization, new
                       {
                           style = "width: 200px",
                           Data_Bind = "selectedValue: Specialization,select2: {allowClear: true,  placeholder: 'Специализация',multiple: false, ajax:{url:'/Loockup/GetSpecializations'  }},select2Options: {data: Specialization}"
                       })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Name, "Название", new { @class = "col-sm-3 control-label no-padding-right" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Name, new { @class = "col-xs-10 col-sm-5", placeholder = "Специальность", Data_Bind = "value: Name" })
                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, "Описание", new { @class = "col-sm-3 control-label no-padding-right" })
                <div class="col-sm-9">
                    @Html.TextAreaFor(m => m.Description, new { @class = "col-xs-10 col-sm-5", placeholder = "Описание", style = "height: 52px; padding-left: 5px;", Data_Bind = "value: Description" })
                </div>
            </div>
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="button" data-bind="click: Save">
                        <i class="icon-ok bigger-110"></i>
                        Сохранить
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="icon-undo bigger-110"></i>
                        Сбросить
                    </button>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/Scripts/viewModels/group/groupViewModel.js"> </script>
<script type="text/javascript">
    $(document).ready(function () {
        ko.applyBindings(new GroupViewModel(@Html.Raw(Json.Encode(Model))), $('#groupForm').get(0));
    });
</script>