@model eUniversity.Business.ViewModels.Auth.LoginViewModel
@{
    ViewBag.Title = "Forgot password";
    Layout = "~/Views/Shared/_Login.layout.cshtml";
}

<div id="forgot-box" class="forgot-box widget-box no-border visible">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header red lighter bigger">
                <i class="icon-key"></i>
                @eUniversity.Common.Strings.Resources.ForgotPassword_Title
            </h4>

            <div class="space-6"></div>
            <p>
                @eUniversity.Common.Strings.Resources.ForgotPassword_Details
            </p>

            <form>
                <fieldset>
                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            <input type="email" class="form-control" placeholder="Email">
                            <i class="icon-envelope"></i>
                        </span>
                    </label>

                    <div class="clearfix">
                        <button type="button" class="width-35 pull-right btn btn-sm btn-danger">
                            <i class="icon-lightbulb"></i>
                            @eUniversity.Common.Strings.Resources.Common_SendMe
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>

        <div class="toolbar center">
            <a href="@Url.Action("Login", "Account")" class="back-to-login-link">
                @eUniversity.Common.Strings.Resources.Common_BackToLogin
                <i class="icon-arrow-right"></i>
            </a>
        </div>
    </div>
</div>
