@model eUniversity.Business.ViewModels.Auth.LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Login.layout.cshtml";
}

<div id="login-box" class="login-box visible widget-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header blue lighter bigger">
                <i class="icon-coffee green"></i>
                @eUniversity.Common.Strings.Resources.Login_EnterLogin
            </h4>

            <div class="space-6"></div>
            @using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm", Data_Bind = "deferredSubmit: login" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(string.Empty, new { Data_Bind = "css: {'error': isValid}" })
                <fieldset>
                    <div class="form-group" data-bind="validationElement: Email">
                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = eUniversity.Common.Strings.Resources.Common_Login, Data_Bind = "value: Email" })
                                <i class="icon-user"></i>
                            </span>
                        </label>
                    </div>

                    <div class="form-group" data-bind="validationElement: Password">
                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = eUniversity.Common.Strings.Resources.Common_Password, Data_Bind = "value: Password" })
                                <i class="icon-lock"></i>
                            </span>
                        </label>
                    </div>

                    <div class="space"></div>

                    <div class="clearfix">
                        <label class="inline">
                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "ace", Data_Bind = "checked: RememberMe" })
                            <span class="lbl">@eUniversity.Common.Strings.Resources.Login_RememberMe</span>
                        </label>

                        <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" @*data-bind="click: $data.ValidateForm"*@>
                            <i class="icon-key"></i>
                            @eUniversity.Common.Strings.Resources.Login_Login
                        </button>
                    </div>

                    <div class="space-4"></div>
                </fieldset>
            }

        </div>

        <div class="toolbar clearfix">
            <div>
                <a href="@Url.Action("Forgot","Account")" class="forgot-password-link">
                    <i class="icon-arrow-left"></i>
                    @eUniversity.Common.Strings.Resources.Login_IForgotPassword
                </a>
            </div>

            <div>
                <a href="@Url.Action("RegisterForm","Account")" class="user-signup-link">
                    @eUniversity.Common.Strings.Resources.Login_IWantToRegister
                    <i class="icon-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/Scripts/viewModels/account/loginViewModel.js"> </script>

    <script type="text/javascript">
        ko.applyBindings(new LoginViewModel(@Html.Raw(Json.Encode(Model))), $("#loginForm").get(0));
    </script>
}
