@model eUniversity.Business.ViewModels.Auth.LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div id="login-box" class="login-box visible widget-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header blue lighter bigger">
                <i class="icon-coffee green"></i>
                Please Enter Your Information
            </h4>

            <div class="space-6"></div>
            @using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get, new { id = "loginForm" }))
            {
                @Html.AntiForgeryToken()
                <fieldset>
                    <div class="form-group" data-bind="validationElement: UserName">
                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "UserName", Data_Bind = "value: UserName" })
                                <i class="icon-user"></i>
                            </span>
                        </label>
                    </div>

                    <div class="form-group" data-bind="validationElement: Password">
                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", Data_Bind = "value: Password" })
                                <i class="icon-lock"></i>
                            </span>
                        </label>
                    </div>

                    <div class="space"></div>

                    <div class="clearfix">
                        <label class="inline">
                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "ace", Data_Bind = "checked: RememberMe" })
                            <span class="lbl">Remember Me</span>
                        </label>

                        <button type="button" class="width-35 pull-right btn btn-sm btn-primary" data-bind="click: $data.ValidateForm">
                            <i class="icon-key"></i>
                            Login
                        </button>
                    </div>

                    <div class="space-4"></div>
                </fieldset>
            }

        </div>

        <div class="toolbar clearfix">
            <div>
                <a href="@Url.Action("Forgot","Account")" class="forgot-password-link">
                    <i class="icon-arrow-left"></i>
                    I forgot my password
                </a>
            </div>

            <div>
                <a href="@Url.Action("Register","Account")" class="user-signup-link">
                    I want to register
                    <i class="icon-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
@*    <script type="text/javascript" src="http://knockoutjs.com/downloads/knockout-3.0.0.js"></script>*@
@*    <script src="~/Scripts/ko/knockout.validation.debug.js"> </script>*@

@*    @Scripts.Render("~/bundles/ko")*@
    <script src="~/Scripts/viewModels/account/loginViewModel.js"> </script>

    <script type="text/javascript">
        @*ko.validation.configure({
            registerExtenders: true,
            messagesOnModified: true,
            decorateElement: true,
            errorClass: 'has-error',
            insertMessages: true,
            parseInputAttributes: true,
            messageTemplate: null
        });
       

        var vm = ko.validatedObservable(new LoginViewModel(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))));
        ko.applyBindings(vm, $("#loginForm").get(0));*@
        
        ko.applyBindings(new LoginViewModel(), $("#loginForm").get(0));
    </script>
}
