@model eUniversity.Business.ViewModels.Auth.RegisterFormViewModel
@{
    ViewBag.Title = "Register";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Login.layout.cshtml";
}
<div class="signup-box widget-box no-border visible">
    <div class="widget-body">
        <div class="widget-main" id="widget-main">
            <div data-target="#step-container">
                <ul class="wizard-steps">
                    <li class="active" data-bind="css: { complete: Profile }">
                        <span class="step">1</span>
                        <span class="title">@eUniversity.Common.Strings.Resources.Common_Register</span>
                    </li>

                    <li data-bind="css: { active: Profile }">
                        <span class="step">2</span>
                        <span class="title">Профиль</span>
                    </li>
                </ul>
            </div>
            <hr>
            <div class="step-content position-relative">
                <div class="form-group has-error" data-bind="foreach: { data: Errors, if: Errors }">
                    <div class="help-block" data-bind="text: $data"></div>
                </div>
                @{
                    if (Model == null || Model.Profile == null)
                    {
                    <!-- ko with: Register -->
                    @(Html.EditorFor(m => m.Register))
                    <!-- /ko -->
                    }
                    else
                    {
                    <!-- ko with: Profile -->
                        Html.RenderPartial("EditorTemplates/Profile", Model);
                    <!-- /ko -->
                    }
                }
            </div>
        </div>
        <div class="toolbar center">

            <a href="@Url.Action("Login", "Account")" class="back-to-login-link">
                <i class="icon-arrow-left"></i>
                @eUniversity.Common.Strings.Resources.Common_BackToLogin
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/viewModels/account/registerViewModel.js"></script>
    <script src="~/Scripts/viewModels/account/registerFormViewModel.js"></script>
    <script src="~/Scripts/viewModels/account/profileViewModel.js"></script>
    <script type="text/javascript">
        ko.applyBindings(new RegisterFormViewModel(@Html.Raw(Json.Encode(Model))), $(".widget-main").get(0));
    </script>
}
