@using eUniversity.Web.Constants
@model eUniversity.Business.ViewModels.Curriculum.CurriculumViewModel
@{
    ViewBag.PageHeader = "Учебный план";
    if (Model == null || Model.CurriculumHeader == null || Model.CurriculumHeader.Id == 0)
    {
        ViewBag.AdditionalInfo = "Добавление нового учебного плана";
    }
    else
    {
        ViewBag.AdditionalInfo = "Редактирование учебного плана";
    }

    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
@Html.Partial("_PageHeader")
<div class="row" id="curriculum">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <form role="form" class="form-horizontal">
                    <!-- ko with: CurriculumHeader -->
                    @Html.EditorFor(m => m.CurriculumHeader)
                    <!-- /ko -->
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
            <h3 class="lighter block green">Семестры</h3>
            <ul class="wizard-steps">
                <!-- ko foreach: Semesters -->
                <li data-bind="css: { active: IsActive, complete: IsCompleted }">
                    <span class="step" data-bind="text: Sequential, click: $parent.ChooseStep"></span>
                    <span class="title" data-bind="text: Title"></span>
                </li>
                <!-- /ko -->
            </ul>
        </div>
        </div>
        <hr>
        <div class="step-content row position-relative">
            <div class="col-xs-12">
            @using (Html.BeginForm("Edit", ControllerNames.CurriculumController, FormMethod.Post, new { @class = "form-horizontal", id = "curriculumForm" }))
            {
                <!-- ko foreach: Semesters -->
                @Html.Partial("EditorTemplates/SemesterViewModel")
                <!-- /ko -->
            }
        </div>
        </div>
        <hr>
        <div class="row wizard-actions">
            <button class="btn btn-prev" data-bind="click: BtnPrev, enable: IsDisablePrevBtn" disabled="disabled">
                <i class="icon-arrow-left"></i>
                Prev
            </button>

            <button class="btn btn-success btn-next" data-bind="click: BtnNext">
                Next
                <i class="icon-arrow-right icon-on-right"></i>
            </button>
        </div>
    </div>
</div>


<script src="~/Scripts/viewModels/curriculum/curriculumViewModel.js"> </script>
<script src="~/Scripts/viewModels/curriculum/headerSectionViewModel.js"> </script>
<script src="~/Scripts/viewModels/curriculum/semesterViewModel.js"> </script>
<script src="~/Scripts/viewModels/curriculum/subjectViewModel.js"> </script>
@Html.Partial("EditorTemplates/AddSubjectModalTemplate", new ViewDataDictionary())

<script type="text/javascript">
    $(document).ready(function () {
        ko.applyBindings(new CurriculumViewModel(@Html.Raw(Json.Encode(Model))), $('#curriculum').get(0));
    });
</script>

<script type="text/html" id="modal-template">
    <div class="modal fade in" tabindex="-1" role="dialog" style="display: block;" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header no-padding">
                    <div class="table-header">
                        <button type="button" class="close" aria-hidden="true" data-bind="click: cancel">
                            <span class="white">×</span>
                        </button>
                        <span>Results for "Latest Registered Domains</span>
                    </div>
                </div>
                <div class="modal-body">
                    @*                    <div class="modal-body no-padding">Are you sure?</div>*@
                </div>
                <div class="modal-footer">
                    <button data-bb-handler="cancel" type="button" class="btn btn-default">Cancel</button>
                    <button data-bb-handler="confirm" type="button" class="btn btn-primary">OK</button>
                </div>
            </div>
        </div>
    </div>
</script>
