@model eUniversity.Business.ViewModels.Profile.ProfileViewModel
@{
    ViewBag.PageHeader = "Профиль";
    ViewBag.AdditionalInfo = User.Identity.Name;
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
@Html.Partial("_PageHeader")

<div class="row">
    <div class="col-xs-12">
        <div>
            <div class="user-profile row">
                <div class="col-sm-offset-1 col-sm-10">
                    <div class="well well-sm">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        &nbsp;
                        <div class="inline middle blue bigger-110">Your profile is 70% complete </div>

                        &nbsp; &nbsp; &nbsp;
                        <div style="width: 200px;" data-percent="70%" class="inline middle no-margin progress progress-striped active">
                            <div class="progress-bar progress-bar-success" style="width: 70%"></div>
                        </div>
                    </div>
                    <div class="space"></div>
                    <div class="form-horizontal">
                        <div class="tabbable">
                            <ul class="nav nav-tabs padding-16">
                                <!-- ko foreach: Tabs -->
                                <li data-bind="css:{active: IsActive}">
                                    <a href="#" data-bind="click: $parent.SelectTab">
                                        <i class="bigger-125" data-bind="css: IconClass"></i>
                                        <span data-bind="text: Title"></span>
                                    </a>
                                </li>
                                <!-- /ko -->
                            </ul>
                            <div class="tab-content profile-edit-tab-content">
                                <!-- ko template: {name: 'basicProfileViewModel-template', data: BasicProfile, if: BasicProfile} --><!-- /ko -->
                                <!-- ko template: {name: 'settingsViewModel-template', data: Settings, if: Settings} --><!-- /ko -->
                                <!-- ko template: {name: 'changePasswordViewModel-template', data: ChangePassword, if: ChangePassword} --><!-- /ko -->
                            </div>
                        </div>

                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="submit">
                                    <i class="icon-ok bigger-110"></i>
                                    Save
                                </button>

                                &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="icon-undo bigger-110"></i>
                                    Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/viewModels/profile/changePasswordViewModel.js"> </script>
<script src="~/Scripts/viewModels/profile/settingsViewModel.js"> </script>
<script src="~/Scripts/viewModels/profile/profileViewModel.js"> </script>
<script src="~/Scripts/viewModels/profile/basicProfileViewModel.js"> </script>
<script src="~/Scripts/viewModels/profile/generalInfoSectionViewModel.js"> </script>

@Html.Partial("EditorTemplates/ChangePasswordViewModel", new ViewDataDictionary())
@Html.Partial("EditorTemplates/SettingsViewModel", new ViewDataDictionary())
@Html.Partial("EditorTemplates/BasicProfileViewModel", new ViewDataDictionary())

<script type="text/javascript">
    $(document).ready(function () {
        ko.applyBindings(new ProfileViewModel(@Html.Raw(Json.Encode(Model))), $('.user-profile').get(0));
    });
</script>
